.footer	{
	top: 0;
    left: 0;
    right: 0;
	height: auto;
	background-color: white;
	background: rgba(0, 0, 0, 0.97);
	/*opacity: 0.7;*/
	border-width: 0px;
	border-style: solid;
	border-color: black;
	border-radius: 0px;
	padding: 5px;
}

.footer h5 {
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: 18%;
}