.meter { 
	height: 15px;  /* Can be anything */
	position: relative;
	background: #808B96;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 7px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
background-image: linear-gradient(to right, #E74C3C , #EC7063, #F1948A);
}
